@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .set-width {
     @apply max-w-[1440px] mx-auto;
   }

   .btn {
      @apply inline-block px-6 py-2 border rounded-full;
   }

   .btn-white {
      @apply text-matte-black bg-white border-white focus:text-white focus:bg-matte-black focus:border-matte-black hover:text-white hover:bg-matte-black hover:border-matte-black;
   }

   .btn-yellow {
      @apply text-matte-black bg-matte-yellow border border-matte-yellow focus:text-white focus:bg-transparent focus:border-white hover:text-white hover:bg-transparent hover:border-white;
   }
}

h1, h2, h3, h4 {
   font-family: Birthstone, cursive;
   line-height: 1;
}

#hamburger.expanded svg:first-child {
   visibility: hidden;
}

#hamburger.expanded svg:last-child,
#nav-links.expanded {
   visibility: visible;
}