---
---

<header>
    <img class="w-40 md:w-44 lg:w-48" src="/the-vic-cafe-logo.png" alt="The Vic Cafe">
    <nav>
        <ul>
            <li>
                <a href="#about-us">About Us</a>
            </li>
            <li>
                <a href="#our-menu">Our Menu</a>
            </li>
            <li>
                <a href="#contact-us">Contact Us</a>
            </li>
        </ul>
    </nav>
</header>